div.section-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: var(--secondary);
	opacity: 0.8;
	z-index: -1;
}

.divider {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	padding: 10px 100px;
	background-color: var(--secondary-dark);
}

div.blur::before {
	content: '';
	position: absolute;
	transform: translateY(-100%);
	width: 100%;
	height: 60px;
	background: linear-gradient(to top, var(--secondary-dark), transparent);
	z-index: 100;
}

div.blur::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 60px;
	background: linear-gradient(to bottom, var(--secondary-dark), transparent);
	z-index: 100;
}

.divider .row {
	width: 100%;
	align-items: center;
}

.divider h2 {
	color: white;
}

.divider p {
	color: white;
}

.divider button {
	width: max-content;
	color: var(--secondary);
	background-color: var(--primary);
	padding: 10px 15px;
	font-size: 1em;
	font-weight: 600;
	border: none;
}

.divider button:hover {
	color: white;
}

/*
---------------------------------------
Programação
---------------------------------------
*/
section.popular-categories {
	margin-bottom: 3.5em;
	margin-top: 2em;
}

section.popular-categories .row {
	margin-right: 0px;
}

.popular-categories .naccs {
	position: relative;
	background-color: var(--secondary-dark);
	border-radius: 7px;
}

.popular-categories .naccs .menu div.first-thumb {
	border-top-left-radius: 7px;
}

.popular-categories .naccs .menu div.last-thumb {
	margin-bottom: 0px;
	border-bottom-left-radius: 7px;
}

.popular-categories .naccs .menu div {
	display: flex;
	justify-content: start;
	align-items: center;
	color: var(--secondary-dark);
	font-size: 15px;
	font-weight: 500;
	background-color: var(--primary);
	height: 40px;
	text-align: left;
	padding: 0px 15px;
	line-height: 40px;
	cursor: pointer;
	position: relative;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-categories .naccs .menu div.active,
.popular-categories .naccs .menu div.active .thumb {
	background-color: var(--secondary-dark);
	color: #fff;
}

.popular-categories ul.nacc {
	position: relative;
	min-height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-categories ul.nacc li {
	opacity: 0;
	transform: translateX(-50px);
	position: absolute;
	list-style: none;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-categories ul.nacc li.active {
	transition-delay: 0.3s;
	opacity: 1;
	transform: translateX(0px);
}

.popular-categories ul.nacc li {
	width: 100%;
}

.popular-categories .nacc .thumb .left-text {
	margin-left: 30px;
}

.popular-categories .nacc .thumb .left-text h4,
.popular-categories .nacc .thumb .right-image h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 35px;
	margin-bottom: 30px;
}

.popular-categories .nacc .thumb .left-text p,
.popular-categories .nacc .thumb .right-image p {
	color: #fff;
	margin-bottom: 30px;
}

.popular-categories .nacc .thumb img {
	border-radius: 7px;
}

.popular-categories .nacc .thumb .left-text .main-white-button a {
	width: 100%;
	text-align: center;
}

.popular-categories .nacc .thumb .col-lg-12 {
	padding: 0;
}

.programacao {
	display: flex;
	height: 80vh;
	color: #fff;
	margin-top: 20px;
	overflow-y: scroll;
}

.programacao::-webkit-scrollbar {
	background-color: var(--secondary-dark);
	width: 8px;
	border-radius: 25px;
}

.programacao::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 25px;
}

.programacao .programacao-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.programacao .programacao-content .content-header {
	width: 20%;
}

.programacao .programacao-content .content-body {
	width: 80%;
}

.programacao p {
	font-size: 1em;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.programacao p em {
	font-style: normal;
	font-weight: 700;
}

.programacao p c {
	color: var(--primary);
	font-weight: 700;
}

.programacao .programacao-hours {
	margin: 0;
}

.programacao .programacao-hours:last-of-type {
	margin-bottom: 1em;
}

.programacao .programacao-title {
	font-size: 1.35em;
}

.programacao h6.programacao-title {
	font-size: 1.35em;
}

.programacao-content .img-container {
	padding-left: 1em;
}

.programacao-content .prof-img {
	border-radius: 100% !important;
	width: 60px;
	margin: 0px 15px 8px 0px;
}

@media (max-width: 1200px) {
	.popular-categories .icon {
		margin-left: 50%;
		transform: translateX(-33px);
		text-align: center;
		display: inline-block;
	}
}

@media (max-width: 992px) {
	.popular-categories .nacc .thumb .left-text {
		margin: 30px;
	}
	.popular-categories .nacc .thumb .right-image {
		padding: 0px;
		margin: 0px 30px 30px 30px;
		display: block;
	}
	.popular-categories .naccs .menu div.first-thumb {
		border-top-right-radius: 7px;
	}
	.popular-categories .naccs .menu div.last-thumb {
		border-bottom-left-radius: 0px;
	}
}

/* Curso pos congresso*/

section.pos-congresso {
	width: 100%;
	height: 90vh;
	background-color: var(--secondary-dark);
	margin-top: 7em;
	margin-bottom: 2em;
	color: #fff;
}

section.pos-congresso::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 80px;
	transform: translateY(-100%);
	background: linear-gradient(to top, var(--secondary-dark), transparent);
	z-index: 100;
}

section.pos-congresso::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 60px;
	background: linear-gradient(to bottom, var(--secondary-dark), transparent);
	z-index: 100;
}

section.pos-congresso .pos-container {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
}

section.pos-congresso .pos-container .section-heading {
	margin: 0;
}

section.pos-congresso .pos-container .section-heading h2 {
	margin-top: 25px;
}

section.pos-congresso .pos-col {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
	padding: 25px 20px 25px 20px;
}

section.pos-congresso .pos-col .pod-img-container {
	width: 30%;
	height: 100%;
}

section.pos-congresso .pos-col .pos-description-container {
	width: 50%;
}

section.pos-congresso .pos-col .pos-description-container p {
	font-size: 1.2em;
	line-height: 1em;
	text-indent: 1em;
}

/* 
	Inscrição
*/

section.inscricao {
	width: 100%;
	height: 150vh;
	color: #fff;
}

.inscricao-container-principal {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5em;
}

.inscricao-content-principal {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--secondary-dark);
	color: #fff;
	padding: 15px 8px;
	border-radius: 5px;
}

.inscricao-content-principal .ul-left,
.inscricao-content-principal .ul-center,
.inscricao-content-principal .ul-right {
	width: 33%;
}

.inscricao-content-principal .ul-right{
	width: 20%;
}

.inscricao-content-principal .ul-left {
	transform: translateX(10%);
}

.inscricao-content-principal .ul-center {
	text-align: center;
	transform: translateX(-20%);
}

.inscricao-content-principal .ul-right {
	transform: translateX(20%);
}

.inscricao-content {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#inscricao-content-top {
	margin-bottom: 1em;
}

#inscricao-content-bottom {
	margin-top: 1em;
}

.card-item,
.card-item-principal {
	width: 250px;
	height: 300px;
	background-color: var(--primary);
	padding: 15px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-item-principal {
	width: 300px;
	font-size: 18px;
}

.card-item ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item-price-container {
	width: 100%;
	height: 65px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--secondary);
	color: #fff;
	border-radius: 5px;
}

.item-price {
	text-align: center;
}

.card-item-principal ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-item ul li,
.card-item-principal ul li {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.price-1 {
	font-size: 1.6em;
	font-weight: 600;
	color: #fff;
}

.price-2 {
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.9em;
}

.price-2-principal {
	text-decoration: line-through;
	color: rgba(255,255,255,0.7);
}

.installment {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.btn-inscrever {
	background-color: var(--secondary-dark);
	color: #fff;
	padding: 5px 15px;
	font-weight: 600;
	border-radius: 5px;
}

.btn-inscrever-principal {
	background-color: var(--primary);
	color: var(--secondary-dark);
	font-size: 1.2em;
	font-weight: 600;
	padding: 5px 20px;
	border-radius: 5px;
}

.btn-inscrever-principal:hover {
	color: #fff;
}

.card-item .btn-inscrever {
	margin-top: 25px;
}

.card-item-principal .btn-inscrever {
	margin-top: 15px;
}

.curso-inscrever {
	font-weight: 600;
	color: #fff;
}

/*Contato*/
section.contact {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-dark);
	position: relative;
	margin-top: 3em;
}

section.contact::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0;
	transform: translateY(-100%);
	background: linear-gradient(to top, var(--secondary-dark), transparent);
	z-index: 100;
}

section.contact .section-heading h2 {
	margin-top: 0px;
}

section.contact .section-heading p {
	color: #fff;
	font-size: 1em;
}

section.contact .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

section.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

section.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}

section.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

section.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

section.contact .php-email-form .loading:before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

section.contact .php-email-form input,
section.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

section.contact .php-email-form input::focus,
section.contact .php-email-form textarea::focus {
	background-color: #f82249;
}

section.contact .php-email-form input {
	padding: 20px 15px;
}

section.contact .php-email-form textarea {
	padding: 12px 15px;
}

section.contact .php-email-form button[type='submit'] {
	background: var(--primary);
	border: 0;
	padding: 8px 36px;
	color: var(--secondary);
	font-weight: 600;
	transition: 0.4s;
	cursor: pointer;
}

section.contact .php-email-form button[type='submit']:hover {
	color: #fff;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*Footer*/

#footer {
	background: var(--secondary);
	padding: 0 0 15px 0;
	color: #eee;
	font-size: 14px;
}

#footer .footer-top {
	background: var(--secondary);
	padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
	font-size: 26px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 900;
	color: #fff;
}

#footer .footer-top .footer-info img {
	height: 40px;
	margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
	font-size: 14px;
	padding-top: 15px;
	line-height: 24px;
	margin-bottom: 0;
	color: #fff;
}

#footer .footer-top .descricao-links a {
	font-size: 18px;
	display: inline-block;
	background: #222636;
	color: #eee;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .descricao-links a:hover {
	background: var(--primary);
	color: #fff;
}

#footer .footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 12px;
	border-bottom: 2px solid var(--primary);
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 5px;
	color: var(--primary);
	font-size: 18px;
}

#footer .footer-top .footer-links ul li {
	border-bottom: 1px solid #262c44;
	padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
	color: var(--primary);
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	line-height: 26px;
}

#footer .footer-top .footer-newsletter {
	margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type='email'] {
	border: 0;
	padding: 6px 8px;
	width: 65%;
}

#footer .footer-top .footer-newsletter input[type='submit'] {
	background: #f82249;
	border: 0;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type='submit']:hover {
	background: #e0072f;
}

#footer .copyright {
	text-align: center;
	height: 20px;
}

#footer .copyright h5 {
	font-size: 15px;
	color: #fff;
	margin-bottom: 0px;
	padding-top: 5px;
}
